SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DATABASE_URL=sqlite:///./havo_data.db
DEBUG=False

# Telegram ogohlantirish (ixtiyoriy)
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
AQI_CHEGARA=150
